.containerAbout {
  background-image: url(../../assets/logo/Logo.png);
  background-repeat: no-repeat;
  background-position: center center; 
  background-size:contain; 
  position: relative;
}

.imageCheck{
    width: 50px;
    height: 50px;
    margin-left: 0.5em;
  }

.image {
    max-width: 230px; 
    height: 230px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    transition: all 0.2s ease;
  }

  .name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
  }
  
  .proyecto-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .overlay {
    /* transition: all 1s ease; */
    opacity: 0;
    position: absolute;
    top: 44% !important;
    left: 44%  !important;
    transform: translate(-50%, -40%);
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center !important; /* Centrar horizontalmente */
    justify-content: center !important; ; /* Centrar verticalmente */
    text-align: center !important; /* Centrar el texto */
  }

  .overlay .iconos-contenedor {
    display:block;
  }
  .overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
  }
  
  .centeredParagraph {
    text-align: center;
    margin: 0;
  }
  
  .iconosContenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .iconosContenedor a {
    margin: 35px;
    font-size: 24px; /* Tamaño de fuente ajustable */
  }
   
  .proyecto {
    position: relative;
  }
  
  .proyecto:hover img {
    opacity: 0.3;
  }
  
  .proyecto:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .smallImage {
      max-width: 50%; /* Ajusta el ancho de las imágenes según tu preferencia */
      height: auto; /* Mantén la proporción de la imagen */
      margin: 0 auto; /* Centra horizontalmente la imagen */
    }

    .overlay {
      /* transition: all 1s ease; */
      opacity: 0;
      position: absolute;
      top: 45% !important;
      left: 50%  !important;
      transform: translate(-50%, -40%);
      text-align: center !important;
      display: flex;
      flex-direction: column;
      align-items: center !important; 
      justify-content: center !important; ; 
      text-align: center !important; 
    }
    .containerAbout {
      background-image: url();
      background-repeat: no-repeat;
      background-position: center center; 
      background-size:contain; 
    }
    .centeredParagraph {
      text-align: center;
      margin: 0;
    }
    
    .iconosContenedor {
      display: flex;
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
    }
    
  }

  @media screen and (max-width: 992px) {
    .image {
      max-width: 400px; 
      height: 400px;
      padding: 10px;
      border-radius: 20px;
      display: block;
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
      transition: all 0.2s ease;
    }
    .containerAbout {
      background-image: url();
      background-repeat: no-repeat;
      background-position: center center; 
      background-size:contain; 
    }
    .centeredParagraph {
      text-align: center;
      margin: 0;
    }
    
    .iconosContenedor {
      display: flex;
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
    }
    
  }  