.cardContainer {
  border: 2px dotted #6489D8;
  padding: 10px; 
  margin-top: 10px;
}

.productInfoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.productInfo {
  text-align: center;
  margin: 30px;
}

.button {
    color: #6489D8;
  }