/* Estilos para el contenedor principal */
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada artículo en el carrito */
.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.producto-imagen {
    max-width: 100px;
    margin-right: 20px;
}

.producto-detalle {
    flex-grow: 1;
}

.producto-nombre {
    font-size: 18px;
    margin: 0;
}

.producto-precio {
    font-size: 16px;
    margin: 5px 0;
    color: #0070ba;
    font-weight: bold;
}

.producto-cantidad {
    font-size: 16px;
    margin: 5px 0;
}

.producto-total {
    font-size: 16px;
    margin: 5px 0;
}

.btn-pagar{
    background-color: green;
    color: #ccc;
    border-radius: 1rem;
}