.bg-primario {
  background-color: #E6F4F4
}
.footer{
    min-height: 60px;
    padding: 40px 40px 60px 40px;
  }
/* .footerContainer {
    min-height: 60px;
    padding: 40px 40px 60px 40px;
    color:#5bdada;
  }
   */
.footer .row div{
  height: 250px;
}

.titulo {
font-size: 18px;
font-weight: bold;
margin: 10px 0;
color: black;
}

.columna p {
  color: black;
}
  .footerTexto {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconosRedesSociales a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 5px;
  border: 2px solid rgb(73, 90, 238);
  border-radius: 30%;
  transition: all 0.2s ease-in;
  }
  
  .iconosRedesSociales i {
    color: rgb(7, 7, 7);
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
    padding: 8px 19px;
  }
  
  .iconosRedesSociales a:hover {
    background-color: #6489D8;
    border: 2px solid black;
  }
  
  .iconosRedesSociales a:hover i {
    color: black;
  }

  .link a {
    color: black !important; /* Usamos !important para dar prioridad */
  }

  .horario {
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  .info {
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  .ubicacion {
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }