.searchInput {
    width: 200px; 
  }
  
.btnCustom {
    background-color: #6489D8 ;
    color: white; 
    border-color: #6489D8; 
  }
  
.btnCustom:hover {
    background-color: white; 
    border-color:#6489D8;
  } 
  