.btnCustom {
  background-color: #6489D8 !important;
  color: #FFFFFF !important;
  border-color: #6489D8 !important;
}
/* .btnCustom:hover {
  background-color: #FFFFFF !important; 
  color: black !important;
  border-color:#6489D8 !important;
} */