section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}
h1 {
    font-size: 2.5rem;
}
.hero {
    text-align: center;   
}

.imagen {
    display: inline-block;
}
