.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.5rem;
}
.hero {
    text-align: center;   
}

.imagen {
    display: inline-block;
}
.marcas_text {
    font-size: 35px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .custom_h5 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px; 
    color:rgb(94, 87, 202);
  }
  