.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
}
.hero {
  text-align: center;   
}

.imagen {
  display: inline-block;
}
.marcas_text {
  font-size: 35px; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom_h5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: rgb(94, 87, 202);
  text-align: center;
  max-width: 800px;
  margin: 20px auto; /* Agrega márgenes superior e inferior */
}

.carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-fluid {
  margin-top: 20px;
}
.experiencia_titulo {
  font-size: 25px;
  font-weight: bold;
}

.exp {
  font-size: 2.5rem;
  color: rgb(0, 204, 255);
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.seccion_clara {
  color: black;
  background-color: white;
  margin: 10px 0;
}