.sideB {
    width: 20%;
    height: 70%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #6489D8; /* Color de fondo de la sidecar */
    padding: 20px; /* Espacio de relleno para el contenido dentro de la sidecar */
    border-left: 1px solid #ccc; /* Borde izquierdo para separarla del contenido principal */
  }

#sidebar-container {
    min-height: 100vh;
}

.logo{
    padding: .875rem 1.25rem;
}
.menu{
    width: 18rem;
}

a:hover {
    text-decoration: none !important;
}