.navbar {
    padding: 0 150px;
    background-color: #E5F2FB !important;
    height: 80px;
  }
  .nav_item {
    margin-left: 30px;
  }
  
  .navbar_collapse {
    align-items: center;
    justify-content: space-between;
  }
  .nav_link {
    color: black;
    text-decoration: none;
  }
  .nav_link:first-child {
    flex: 0 0 auto; /* Evita que el primer div crezca o se contraiga */
    width: auto; /* Permite que el ancho del primer div se ajuste automáticamente */
    }

  .nav_link:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #6489D8;
  }
  
  .nav_logo {
    width: 90px; /* Ajusta el tamaño del logo según tus necesidades */
    transition: transform 0.8s; /* Agrega una transición suave */
  }

  .center_logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom_icon {
    color: white;
  }

/* Buttons */
  .navbar_collapse .btn {
    background-color: #6489D8;
    color: white;
    border: none;
    margin-left: 10px;
  }
  
  .navbar_collapse .btn:hover {
    transition: background-color 0.3s ease;
    background-color: white !important;
    color: black !important;
    border: 2px solid #6489D8;
  }
  
  .custom_icon:hover {
    color: black; 
  }
  .nav_logo:hover {
    transform: rotate(360deg); 
  }


/* Estilos para pantallas más pequeñas (768px o menos) */
@media (max-width: 768px) {
  .navbar {
    height: auto !important; /* Cambia la altura a auto para que se ajuste al contenido */
    flex-direction: column; /* Cambia la dirección del flex container a columna */
    align-items: center !important; /* Alinea los elementos al inicio del contenedor */
  }

  .navbar_toggler {
    display: block !important; 
  }

  .navbar_collapse {
    display:block; 
    text-align: center;
  }

  .navbar_brand {
    margin-right: 0 auto;
  }

  .navbar_nav {
    margin-top: 1rem; 
    display: flex !important; 
    flex-direction: column !important;
    align-items: center !important; 
  }

  .nav_item {
    margin-bottom: 0.2rem; 
  }

  .nav_logo {
    width: 120px;
    transition: transform 0.8s; 
  }

  .btn button{
    margin: 0.2rem 0; /* Espaciado vertical entre los botones */
    align-items: center !important; 
  }
 }

 /* Estilo pegajoso: */
 .stickyNavbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.062); /* Cambia esto al color de fondo deseado */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486); /* Agrega una sombra si lo deseas */
 }