.center-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
    padding: 0 150px;
    background-color: #E5F2FB;
    height: 80px;
  }
  .nav-item {
    margin-left: 30px;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
  .navbar-nav .nav-item .nav-link:first-child {
    flex: 0 0 auto; /* Evita que el primer div crezca o se contraiga */
    width: auto; /* Permite que el ancho del primer div se ajuste automáticamente */
    }

  .nav-item .nav-link:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #6489D8;
  }
  
  .nav_logo {
    width: 90px; /* Ajusta el tamaño del logo según tus necesidades */
    transition: transform 0.8s; /* Agrega una transición suave */
  }
  
  .custom-icon {
    color: white;
  }

/* Buttons */
  .d-flex .btn {
    background-color: #6489D8;
    color: white;
    border: none;
    margin-left: 10px;
  }

  .d-flex .bi {
    text-decoration: none;
  }
  
  .d-flex .btn:hover {
    transition: background-color 0.3s ease;
    background-color: white;
    border: 1px solid #6489D8;
  }

  .navbar-brand {
    transition: transform 0.3s;
  }
  
  .navbar-brand:hover {
    transform: scale(1.1);
  }
  .custom-icon:hover {
    color: black; 
  }
  .nav_logo:hover {
    transform: rotate(360deg); 
  }

  @media (max-width: 576px) {
    .navbar-custom-height {
      height: 270px;
    }
  }