.backgroundLogin{
    background-image: url(https://static.vecteezy.com/system/resources/previews/017/027/593/non_2x/cat-sleeping-on-laptop-cartoon-icon-illustration-animal-technology-icon-concept-isolated-premium-flat-cartoon-style-vector.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
